################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/e-mail/.vs/e-mail/v16
/n_printer/.vs/n_printer/v16
/goosl/.vs/goosl/v16
/takgoo/.vs/takgoo/v16
/node/.vs/node/v16
/seongsyang/.vs/seongsyang/v16
