################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/e-mail/.vs/e-mail/v16
/n_printer/.vs/n_printer/v16
/goosl/.vs/goosl/v16
/takgoo/.vs/takgoo/v16
/node/.vs/node/v16
/seongsyang/.vs/seongsyang/v16
/spyString/.vs/spyString/v16
/pyramid/.vs/pyramid/v16
/nodeVirus/.vs/nodeVirus/v16
/blue
/virusBloomSTL/.vs/virusBloomSTL/v16
/BBQ장작/.vs/BBQ장작/v16
/firework/.vs/firework/v16
/island/.vs/island/v16
/islandNum/.vs/islandNum/v16
/BFSmiro/.vs/BFSmiro/v16
/friendsWay/.vs/friendsWay/v16
/gogi/.vs/gogi/v16
/BFScoupang/.vs/BFScoupang/v16
/pickDoll/.vs/pickDoll/v16
/keypad/.vs/keypad/v16
/lost_clothes/.vs/lost_clothes/v16
